{% extends  'base.html.twig' %}

{% block title 'Profil'%}

{% block body %}
    <div class="m-3 col-12 text-center">
        <h1>Vos recettes</h1>
    </div>

    <!-- Basic Card Example -->
    <div class="card shadow m-3">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">Recettes publiées</h6>
        </div>
        <div class="card-body">

                {% for recette in app.user.recette %}
                    <div>

                        <a href="{{ path('show_recette', {'id':recette.id}) }}">{{ recette.nom }}</a><br>


                    </div>
                {% endfor %}

        </div>
    </div>

{% endblock %}