{% extends  'base.html.twig' %}

{% block title 'Profil'%}

{% block body %}
    <h1>Vos recettes</h1>
    <div class="col-10">
        <ul>
            {% for recette in app.user.recette %}
                <li><a href="{{ path('show_recette', {'id':recette.id}) }}">{{ recette.nom }}</a></li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}