{% extends  'base.html.twig' %}
{% block title %}
    Editer le Point Retrait
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <h1>Editer le Point Retrait</h1>
       {{  include ('admin/pointretrait/_form.html.twig', {form: form, button: 'Editer'}) }}
    </div>
{% endblock %}
