{% extends  'base.html.twig' %}
{% block title %}
    Créer un nouveau Point Retrait
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <h1>Créer un nouveau Point Retrait</h1>
        {{  include ('admin/pointretrait/_form.html.twig', {form: form, button: 'Créer'}) }}
    </div>
{% endblock %}
