{% extends  'base.html.twig' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Kouizine</h1>
        <p>un marché de produits locaux, des cours de cuisine et des recettes pour les plus gourmands...</p>
    </div>
{% endblock %}
